/* Home hook CSS */
/* line 6, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_home ul {
  margin: 0 -5px;
}
@media (max-width: 1200px) {
  /* line 6, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul {
    margin-top: 0px;
  }
}
/* line 11, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_home ul li {
  padding: 0 0px 0px 5px;
  position: relative;
}
@media (max-width: 1199px) {
  /* line 11, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li {
    padding: 0 5px 0px 5px;
  }
}
@media (max-width: 479px) {
  /* line 11, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li {
    width: 100%;
  }
}
/* line 20, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_home ul li a {
  display: block;
}
@media (max-width: 1200px) {
  /* line 20, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a {
    font-size: 0.8em;
  }
}
@media (max-width: 992px) {
  /* line 20, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a {
    font-size: 0.6em;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a {
    font-size: 0.4em;
  }
}
@media (max-width: 480px) {
  /* line 20, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a {
    font-size: 0.2em;
  }
}
/* line 34, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_home ul li a .item-html {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}
/* line 39, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_home ul li a .item-html h2 {
  color: #ffffff;
  font: 400 4.462em/1.3em "Arbutus Slab", serif;
  display: inline-block;
  margin: 0 0 0 42px;
}
@media (max-width: 480px) {
  /* line 39, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a .item-html h2 {
    margin: 6px 0 0 23px;
  }
}
/* line 48, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_home ul li a .item-html h3 {
  color: #ffffff;
  font: 400 2.769em/1.1em "Arbutus Slab", serif;
  text-transform: uppercase;
  margin: 5px -23px 0 0;
  display: inline-block;
  float: right;
}
@media (max-width: 1200px) {
  /* line 48, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a .item-html h3 {
    margin: 5px -13px 0 0;
  }
}
@media (max-width: 992px) {
  /* line 48, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a .item-html h3 {
    margin: 5px -11px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 48, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a .item-html h3 {
    margin: 5px 0px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 48, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a .item-html h3 {
    clear: right;
    margin: 4px 29px 0;
  }
}
/* line 70, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_home ul li a .item-html span {
  float: right;
  background: #252525;
  display: inline-block;
  padding: 9px 13px 8px 13px;
  margin: 23px -48px 0 0;
  color: #ffffff;
  text-transform: uppercase;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  font: 400 1.385em/1.3em "Arbutus Slab", serif;
}
/* line 84, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_home ul li a .item-html span:hover {
  background: #444444;
}
@media (max-width: 1200px) {
  /* line 70, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a .item-html span {
    margin: 18px -37px 0 0;
    padding: 7px 10px 8px 0.68em;
  }
}
@media (max-width: 992px) {
  /* line 70, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a .item-html span {
    margin: 12px -25px 0 0;
    padding: 7px 10px 8px 0.68em;
  }
}
@media (max-width: 767px) {
  /* line 70, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a .item-html span {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    margin: -4px 10px 0 0;
    padding: 3px 3px 3px 3px;
    font-size: 2.5em;
    letter-spacing: 0.1em;
  }
}
/* line 109, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_home ul li a img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 479px) {
  /* line 109, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_home ul li a img {
    min-width: 100%;
  }
}

/* Top hook CSS */
/* line 123, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_top {
  float: right;
  max-width: 323px;
  padding-left: 16px;
}
@media (max-width: 1200px) {
  /* line 123, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_top {
    max-width: 251px;
  }
}
@media (max-width: 992px) {
  /* line 123, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_top {
    max-width: 195px;
  }
}
@media (max-width: 767px) {
  /* line 123, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_top {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-top: 0px;
  }
}
/* line 139, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_top ul {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  /* line 139, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_top ul {
    margin: 10px -5px 0 -5px;
  }
}
/* line 144, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_top ul li {
  width: 151px;
  padding: 0;
  margin-bottom: 21px;
  margin-top: 1px;
  float: left;
}
@media (max-width: 1200px) {
  /* line 144, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_top ul li {
    width: 116px;
  }
}
@media (max-width: 992px) {
  /* line 144, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_top ul li {
    width: 84px;
  }
}
@media (max-width: 767px) {
  /* line 144, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_top ul li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    margin-bottom: 0;
  }
}
/* line 164, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_top ul li.htmlcontent-item-1, #htmlcontent_top ul li.htmlcontent-item-3 {
  margin-right: 21px;
}
@media (max-width: 767px) {
  /* line 164, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
  #htmlcontent_top ul li.htmlcontent-item-1, #htmlcontent_top ul li.htmlcontent-item-3 {
    margin-right: 0px;
  }
}
/* line 171, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_top ul li.htmlcontent-item-3, #htmlcontent_top ul li.htmlcontent-item-4 {
  margin-bottom: 0px;
}
/* line 174, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_top ul li:last-child {
  margin-bottom: 0;
}
/* line 177, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_top ul li a {
  display: block;
}
/* line 179, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_top ul li a img {
  max-width: 100%;
  height: auto;
}
/* line 183, ../../../../sass/modules/themeconfigurator/css/hooks.scss */
#htmlcontent_top ul li a:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
}

/* Left hook CSS */
/* Right hook CSS */
/* Footer hook CSS */
